@font-face {
	font-family:"Samarkan";		/*Hindi type font*/
	src:url("/fonts/samarkan.woff") format("woff");
}

html {
	height: 100%;	/*So that the 100% divs are full height*/
}

body { 
	height: 100%;	/*So that the 100% divs are full height*/
	padding-top: 40px;
	overflow: hidden;
}

a, p, h1, h2, h4, .location { 
	font-family: Verdana;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: gainsboro;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	z-index: 2;
	text-align: center;
}

.fa-spin {
	margin-top: 50%;
	font-size: 10em;
	color: #585c82;
}

.navbar {
	width: 100%;
	z-index: 1;

	background-color: #ffffff;
}

.jumbotron {
	background-image:url('/Images/Driveway.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-attachment: fixed;   /*Keeps the image stationary so that the other stuff scrolls over it*/
}

.jumbotron .container {
	position: relative;
	top:100px;
}

.jumbotron h1 {
	font-family: 'Samarkan';
	color: #ffd700;
	font-size: 6em;  
}

.jumbotron p {
	font-size: 1.5em;
	color: #ffd700;
}

.info-images {
	background-color: #f7f7f7;
}

.about { 
	background-image: url("/Images/SharedBathroom.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.about .container {
	position: relative;
	top: 15px;
}

.about h1 {
	color: #fff;
	font-size: 2em; 
}

/*Can hide the second para on mobiles by adding an ID to it and setting its text size to 0px in this file if this is too small to read.
Then can increase this size to 20px.*/
.about p {
	color: #f7f7f7;
	font-size: 1.1em;
}

.facilities {
	background-image: url("/Images/CourtyardNight.jpg");
	height: 625px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.facilities .container {
	position: relative;
	top:100px;
}

.facilities .container h3 {
	color: #fff;
	font-size: 30px;  
}

.facilities .container li {
	color: #f7f7f7;
	font-size: 20px;  
}

.gallery .carousel-inner .item img { 
	margin: 0 auto; 
	height: 100%;
}

.contact {
	background-image: url("/Images/IkshaaDoor.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 625px;
	background-size: cover;
}

.contact .container {
	position: relative;
	top: 50px;
	opacity: 0.7;
}

.contact .container h4 {
	color: #fff;
}

.contact .form {
	margin: 0 auto;
	width:80%
}

.footer { 
	margin-top: 10;
	padding-top: 10px;
}

.footer p { 
	color: #fff;
	text-align: center;
}
.footer a, u {
	color: #ffff00;
}