@font-face {
	font-family:"Samarkan";		/*Hindi type font*/
	src:url("/static/fonts/samarkan.woff") format("woff");
}

html {
	height: 100%;	/*So that the 100% divs are full height*/
}

body { 
	height: 100%;	/*So that the 100% divs are full height*/
	padding-top: 3%;
}

a, p, h1, h2, h4, .location{ 
	font-family: Verdana;
}

.navbar {
	width: 100%;
	z-index: 1;

	background-color: #ffffff;
}

.navbar > .navbar-collapse {
	text-align: center;
}

.contact {
	background-image: url("/static/Images/IkshaaPool2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
}

.contact .container {
	position: relative;
	top: 8%;
	opacity: 0.9;
}

.contact .container h1 {
	color: #fff;
}

.form-inline .form-group input {
    width: 160%;
    margin-bottom: 5%;
}

.form-inline .form-group textarea {
    width: 122%;
    margin-bottom: 5%;
}