html {
	height: 100%;	/*So that the 100% divs are full height*/
}

body { 
	height: 100%;	/*So that the 100% divs are full height*/
	padding-top: 3%;
}

a, p, h1, h2, h4, .location{ 
	font-family: Verdana;
}

.navbar {
	width: 100%;
	z-index: 1;

	background-color: #ffffff;
}

.navbar > .navbar-collapse {
	text-align: center;
}

.navbar .facebook-buttons {
	margin-right: 1em;
	margin-top: 1em;
}

.facilities {
	background-image: url("/static/Images/CourtyardNight.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.facilities .container {
	position: relative;
	padding-top:8%;
}

.facilities .container h3 {
	color: #fff;
	font-size: 2.5em;  
}

.facilities .container li {
	color: #f7f7f7;
	font-size: 1.5em;  
}