@font-face {
	font-family:"Samarkan";		/*Hindi type font*/
	src:url("/static/fonts/samarkan.woff") format("woff");
}

html {
	height: 100%;	/*So that the 100% divs are full height*/
}

body { 
	height: 100%;	/*So that the 100% divs are full height*/
	padding-top: 40px;
}

a, p, h1, h2, h4, .location { 
	font-family: Verdana;
}

.navbar {
	width: 100%;
	z-index: 1;

	background-color: #ffffff;
}

.facilities {
	background-image: url("/static/Images/CourtyardNight.jpg");
	height: 50em;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.facilities .container {
	position: relative;
	padding-top:10%;
}

.facilities .container h3 {
	color: #fff;
	font-size: 2em;  
}

.facilities .container li {
	color: #f7f7f7;
	font-size: 1.3em;  
}