@font-face {
	font-family:"Samarkan";		/*Hindi type font*/
	src:url("/static/fonts/samarkan.woff") format("woff");
}

html {
	height: 100%;	/*So that the 100% divs are full height*/
}

body { 
	height: 100%;	/*So that the 100% divs are full height*/
	padding-top: 40px;
}

a, p, h1, h2, h4, .location { 
	font-family: Verdana;
}

.navbar {
	width: 100%;
	z-index: 1;

	background-color: #ffffff;
}

.jumbotron {
	background-image:url('/static/Images/IkshaaFlowerpot.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-attachment: fixed;   /*Keeps the image stationary so that the other stuff scrolls over it*/
}

.jumbotron .container {
	position: relative;
	top:100px;
}

.jumbotron h1 {
	font-family: 'Samarkan';
	color: #ffd700;
	font-size: 6em;  
}

.jumbotron p {
	font-size: 1.5em;
	color: #ffd700;
}